{%extends 'main/base.html'%}

{%block title%}Регистрация пользователя{% endblock %}

{%block content%}
    <form method="post" class="form-control d-flex flex-column gap-2">
        {{form.csrf_token}}
        {{form.name(class='form-control', placeholder='ФИО')}}
        {{form.login(class='form-control', placeholder='Логин')}}
        {% if form.login.errors %}
        <div class = "invalid-feedback" style="display: block !important;">
            {% for error in form.login.errors %}
            <span>{{ error }}</span>
            {%endfor%}
        </div>
        {% endif %}
        {{form.password(class='form-control', placeholder='Пароль')}}
        {{form.confirm_password(class='form-control', placeholder='Подтвердите пароль')}}
        {{form.submit(class='btn btn-success')}}
    </form>
{% endblock %}